body{
    
        background-image: url("fondo.jpg");
        background-color: #cccccc;
     
}
div
{
  text-align: center;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}