body{
    text-align: center;
}
#gato td
{
    border: thin solid black;
    font-size: 300%;
    height: 1em;
    padding: 1em;
    width: 1em;
}
body{
    
    background-image: url("fondo.jpg");
    background-color: #cccccc;
 
}
